<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> </title>
		<!-- favicon -->
		<link rel="shortcut icon" href="favicon.html" type="image/x-icon">
		<!-- bootstrap -->
		<link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css">
		<!-- fontawesome icon  -->
		<link rel="stylesheet" href="frontend/assets/css/fontawesome.min.css">
		<!-- flaticon css -->
		<link rel="stylesheet" href="frontend/assets/fonts/flaticon.css">
		<!-- animate.css -->
		<link rel="stylesheet" href="frontend/assets/css/animate.css">
		<!-- Owl Carousel -->
		<link rel="stylesheet" href="frontend/assets/css/owl.carousel.min.css">
		<!-- magnific popup -->
		<link rel="stylesheet" href="frontend/assets/css/magnific-popup.css">
		<link rel="stylesheet" href="frontend/assets/css/odometer.min.css">
		<!-- stylesheet -->
		<link rel="stylesheet" href="frontend/assets/css/style.css">
		<!-- responsive -->
		<link rel="stylesheet" href="frontend/assets/css/responsive.css">
		<!-- End layout styles -->
		<link rel="shortcut icon" href="frontend/assets/images/logo.png" />
	</head>
	<body>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content login">
					<div class="login-form">
						<h1>Login  
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</h1>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<form name="login_frm" id="login_frm" action="">
							<input type="email" placeholder="Enter Your E-mail" name="email" id="email">
							<input type="password" placeholder="Enter Your Password" name="password" id="password">
							<a href="javascript:void(0);" onclick="login( document.getElementById('email').value, document.getElementById('password').value )">Login</a>
							<!-- <button type="button" onclick="location.href='roullete_game.html';">Login</button> -->
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content login">
					<div class="login-form">
						<h1>Login  
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</h1>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<form>
							<input type="email" placeholder="Enter Your Mail">
							<input type="password" placeholder="Enter Your Password">
							<a href="">Login</a>
							<!-- <button type="button" onclick="location.href='roullete_game.html';">Login</button> -->
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="exampleMoall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content login">
					<div class="login-form">
						<h1>Login  
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</h1>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<form>
							<input type="email" placeholder="Enter Your Mail">
							<input type="password" placeholder="Enter Your Password">
							<a href="roullete_game.html">Login</a>
							<!-- <button type="button" onclick="location.href='roullete_game.html';">Login</button> -->
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- header begin -->
		<div class="header">
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-sm-6">
							<div class="left-area">
								<ul>
									<li>
										<span class="icon">
										<i class="far fa-calendar-alt"></i>
										</span>
										<span class="text">
										<span id="date"></span>
										<span id="month"></span>
										<span id="year"></span>
										</span>
									</li>
									<li>
										<span class="icon">
										<i class="far fa-clock"></i>
										</span>
										<span class="text clocks">
										<span id="hours"></span>:<span id="minutes"></span>:<span id="seconds"></span>
										</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-6">
							<div class="right-area">
								<ul>
									<li>
										<select>
											<option>EN</option>
											<option>FR</option>
											<option>ES</option>
										</select>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="navbar" class="header-bottom">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
							<div class="row">
								<div class="col-xl-12 col-lg-12 col-6 d-xl-block d-lg-block d-flex align-items-center">
									<div class="logo">
										<a href="index.html">
										<img src="frontend/assets/img/logo.png" alt="logo">
										</a>
									</div>
								</div>
								<div class="col-6 d-xl-none d-lg-none d-block">
									<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<i class="fas fa-bars"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="col-xl-9 col-lg-9">
							<div class="mainmenu">
								<nav class="navbar navbar-expand-lg">
									<div class="collapse navbar-collapse" id="navbarSupportedContent">
										<ul class="navbar-nav ml-auto">
											<li class="nav-item dropdown">
												<a class="nav-link" href="index.html">Home</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Cricket</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#" data-toggle="modal" data-target="#exampleMoall">Roulette</a>
											</li>
											<li class="nav-item log_btn">
												<a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Login</a>
											</li>
										</ul>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- header end -->
		<!-- banner begin -->
		<div class="banner-slider owl-carousel owl-theme">
			<div class="banner banner-2 slide-1">
				<div class="container">
					<div class="banner-content">
						<div class="row justify-content-xl-center justify-content-lg-center justify-content-md-center">
							<div class="col-md-7">
								<div class="text-content">
									<h1>Prediction on the great sports.</h1>
									<h4>that Coral offers for Cricket today.</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
									<div class="banner-button">
										<ul>
											<li>
												<a href="#" class="bet-btn bet-btn-base" data-toggle="modal" data-target="#exampleModal">Play now</a>
											</li>
											<li>
												<a href="#" class="bet-btn bet-btn-border">explore more</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<img src="frontend/assets/img/banner_crick.png"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="banner banner-2 roullet_banner slide-2">
				<div class="container">
					<div class="banner-content">
						<div class="row justify-content-xl-center justify-content-lg-center justify-content-md-center">
							<div class="col-md-7">
								<div class="text-content">
									<h1>Play Roullete Online.</h1>
									<h4>Lorem Ipsum is simply dummy text of the printing</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
									<div class="banner-button">
										<ul>
											<li>
												<a href="roullete_game.html" class="bet-btn bet-btn-base" data-toggle="modal" data-target="#exampleModall">Play now</a>
											</li>
											<li>
												<a href="#" class="bet-btn bet-btn-border">explore more</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<img src="frontend/assets/img/banner_roullet.png" style="margin-top: 0px;"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner end -->
		<!-- about begin -->
		<div class="about">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-xl-8 col-lg-8">
						<div class="part-img">
							<img src="frontend/assets/img/about.jpg" alt="">
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 d-xl-flex d-lg-flex d-block align-items-center">
						<div>
							<div class="part-text">
								<h2>Introducing Our Words</h2>
								<p>The bigger the sports event the more interest, excitement and media attention on the action. And the more betting markets we have available here at Peredion to turn your opinions into winning bets. And few events come any bigger than the World Cup and the Olympics.</p>
							</div>
							<a href="#" class="about-btn">Predict Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- about end -->
		<!-- cta begin -->
		<!-- cta end -->
		<!-- feature begin -->
		<div class="feature" id="feature_section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-6 col-lg-6 col-md-8">
						<div class="section-title">
							<h2>PerediOn Features</h2>
							<p>PerediOn shows real time odds for betting with the higher stakes you can get. We place your bets in various bMakers to do highest liquidity</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-6">
						<div class="single-feature">
							<div class="part-icon">
								<img src="frontend/assets/img/svg/music-and-multimedia.svg" alt="">
							</div>
							<div class="part-text">
								<h3 class="title">Live Prediction</h3>
								<p>PerediOn has a quality in-play Prediction service and the live console has extensive coverage from sporting events and prediction markets.</p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6">
						<div class="single-feature">
							<div class="part-icon">
								<img src="frontend/assets/img/svg/announcement.svg" alt="">
							</div>
							<div class="part-text">
								<h3 class="title">Daily Promotions</h3>
								<p>PerediOn offers a huge range of different promotions, every day. These include money-back offers when your horse is beaten by a nose.</p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6">
						<div class="single-feature">
							<div class="part-icon">
								<img src="frontend/assets/img/svg/usability.svg" alt="">
							</div>
							<div class="part-text">
								<h3 class="title">Clean Usability</h3>
								<p>More than a single feature, usability is an aspect that affects the whole product. For us, that means an intuitive interface that is easy to use.</p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6">
						<div class="single-feature">
							<div class="part-icon">
								<img src="frontend/assets/img/svg/browser.svg" alt="">
							</div>
							<div class="part-text">
								<h3 class="title">Prediction browser</h3>
								<p>PerediOn on an arbitrage or value predict is extremely easy. All the information you need is gathered on one single Prediction Browser using the software.</p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6">
						<div class="single-feature">
							<div class="part-icon">
								<img src="frontend/assets/img/svg/exchange.svg" alt="">
							</div>
							<div class="part-text">
								<h3 class="title">Currency Conversion</h3>
								<p>Automatic currency conversion is built in. You can use different currencies on different bookmakers and we’ll do all the math for you.</p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6">
						<div class="single-feature">
							<div class="part-icon">
								<img src="frontend/assets/img/svg/key-card.svg" alt="">
							</div>
							<div class="part-text">
								<h3 class="title">High Security</h3>
								<p>Our security measures are way above the norm in the software industry. First, starting the program requires a master password.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- feature end -->
		<!-- betting begin -->
		<!-- betting end -->
		<!-- upcoming match begin -->
		<!-- upcoming match end -->
		<!-- statics begin -->
		<!-- statics end -->
		<!-- testimonial begin -->
		<div class="testimonial" id="testimonial">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-7 col-lg-7">
						<div class="section-title">
							<h2>Feedback to PerediOn</h2>
							<!-- <p>PerediOn shows real time odds for betting with the higher stakes you can get. We place your bets in various bMakers to do highest liquidity</p> -->
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-xl-8 col-lg-8">
						<div class="testimonial-slider owl-carousel owl-theme">
							<div class="single-testimonial">
								<div class="part-img">
									<img src="frontend/assets/img/testi-user-1.jpg" alt="">
								</div>
								<div class="part-text">
									<i class="icon-for-quot fas fa-quote-left"></i>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
									<span class="position">
									Player
									</span>
									<span class="user-name">
									Illustino Calibia
									</span>
								</div>
							</div>
							<div class="single-testimonial">
								<div class="part-img">
									<img src="frontend/assets/img/testi-user-1.jpg" alt="">
								</div>
								<div class="part-text">
									<i class="icon-for-quot fas fa-quote-left"></i>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
									<span class="position">
									Player
									</span>
									<span class="user-name">
									Illustino Calibia
									</span>
								</div>
							</div>
							<div class="single-testimonial">
								<div class="part-img">
									<img src="frontend/assets/img/testi-user-1.jpg" alt="">
								</div>
								<div class="part-text">
									<i class="icon-for-quot fas fa-quote-left"></i>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
									<span class="position">
									Player
									</span>
									<span class="user-name">
									Illustino Calibia
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- testimonial end -->
		<!-- download app begin -->
		<!-- download app end -->
		<!-- sponsor begin -->
		<div class="sponsor">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
						<div class="single-sponsor">
							<a href="#">
							<img src="frontend/assets/img/sponsor-1.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
						<div class="single-sponsor">
							<a href="#">
							<img src="frontend/assets/img/sponsor-2.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
						<div class="single-sponsor">
							<a href="#">
							<img src="frontend/assets/img/sponsor-3.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
						<div class="single-sponsor">
							<a href="#">
							<img src="frontend/assets/img/sponsor-6.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
						<div class="single-sponsor">
							<a href="#">
							<img src="frontend/assets/img/sponsor-5.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
						<div class="single-sponsor">
							<a href="#">
							<img src="frontend/assets/img/sponsor-4.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
						<div class="single-sponsor">
							<a href="#">
							<img src="frontend/assets/img/sponsor-7.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
						<div class="single-sponsor">
							<a href="#">
							<img src="frontend/assets/img/sponsor-8.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- sponsor end -->
		<!-- news letter begin -->
		<div class="newsletter">
			<div class="container">
				<div class="row no-gutters justify-content-center">
					<div class="col-xl-4 col-lg-4">
						<div class="part-img">
							<img src="frontend/assets/img/newsletter-img.png" alt="">
						</div>
					</div>
					<div class="col-xl-8 col-lg-10">
						<div class="part-text">
							<h4>PerediOn Newsletter</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident et repellendus deleniti dolor aperiam, magni est tenetur ullam omnis eius illo cum cupiditate, eligendi aspernatur praesentium fuga.</p>
							<div class="part-form">
								<form>
									<input type="text" placeholder="Input Your Mail Here">
									<button type="submit">
									<img src="frontend/assets/img/svg/spaceship.svg" alt="">
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- news letter end -->
		<!-- blog begin -->
		<div class="blog">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-6 col-lg-6 col-md-8">
						<div class="section-title">
							<h2>Our Latest news</h2>
							<p>PerediOn shows real time odds for betting with the higher stakes you can get. We place your bets in various bMakers to do highest liquidity</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-6">
						<div class="single-blog">
							<div class="part-img">
								<img src="frontend/assets/img/blog-1.jpg" alt="">
								<a href="#"><i class="far fa-eye"></i></a>
								<div class="post-date">
									<span class="date">16</span>
									<span class="month">Dec</span>
								</div>
							</div>
							<div class="part-text">
								<a href="#" class="title">How could the Premier League resume?</a>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sint esse vel atque asperiores eligendi vero blanditiis, totam eos beatae hic harum commodi quisquam debitis ipsam obcaecati deserunt nihil? Sed.</p>
								<a href="#" class="share-btn"><i class="fas fa-share-alt"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6">
						<div class="single-blog">
							<div class="part-img">
								<img src="frontend/assets/img/blog-2.jpg" alt="">
								<a href="#"><i class="far fa-eye"></i></a>
								<div class="post-date">
									<span class="date">26</span>
									<span class="month">JAn</span>
								</div>
							</div>
							<div class="part-text">
								<a href="#" class="title">When coronavirus stops your league</a>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sint esse vel atque asperiores eligendi vero blanditiis, totam eos beatae hic harum commodi quisquam debitis ipsam obcaecati deserunt nihil? Sed.</p>
								<a href="#" class="share-btn"><i class="fas fa-share-alt"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6">
						<div class="single-sidebar">
							<div class="popular-news">
								<div class="single-post">
									<div>
										<div class="part-img">
											<img src="frontend/assets/img/popular-news-1.jpg" alt="">
										</div>
									</div>
									<div class="part-text">
										<a href="#">How could the Premier League resume?</a>
									</div>
								</div>
								<div class="single-post">
									<div>
										<div class="part-img">
											<img src="frontend/assets/img/popular-news-1.jpg" alt="">
										</div>
									</div>
									<div class="part-text">
										<a href="#">How could the Premier League resume?</a>
									</div>
								</div>
								<div class="single-post">
									<div>
										<div class="part-img">
											<img src="frontend/assets/img/popular-news-1.jpg" alt="">
										</div>
									</div>
									<div class="part-text">
										<a href="#">How could the Premier League resume?</a>
									</div>
								</div>
								<div class="single-post">
									<div>
										<div class="part-img">
											<img src="frontend/assets/img/popular-news-1.jpg" alt="">
										</div>
									</div>
									<div class="part-text">
										<a href="#">How could the Premier League resume?</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<a href="#" class="vew-more-news bet-btn bet-btn-base">
					<i class="fas fa-redo"></i> See More News
					</a>
				</div>
			</div>
		</div>
		<!-- blog end -->
		<!-- footer begin -->
		<div class="footer" id="contact">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-xl-4 col-lg-5 col-md-10">
					<div class="about-widget">
						<a class="logo" href="index.html">
						<img src="frontend/assets/img/logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-xl-4 col-lg-5 col-md-10">
					<div class="about-widget">
						<div class="social">
							<ul>
								<li>
									<a href="#" class="social-icon">
									<i class="fab fa-facebook-f"></i>
									</a>
									<a href="#" class="social-icon">
									<i class="fab fa-twitter"></i>
									</a>
									<a href="#" class="social-icon">
									<i class="fab fa-instagram"></i>
									</a>
									<a href="#" class="social-icon">
									<i class="fab fa-pinterest-p"></i>
									</a>
									<a href="#" class="social-icon">
									<i class="fab fa-facebook-f"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-5 col-md-10">
					<div class="about-widget">
						<div class="support">
							<ul>
								<li>
									<span class="icon">
									<img src="frontend/assets/img/svg/email.svg" alt="">
									</span>
									<span class="text">
									<span class="title">Mail Us</span>
									<span class="descr">don't@reply.com</span>
									</span>
								</li>
								<li>
									<span class="icon">
									<img src="frontend/assets/img/svg/phone-call.svg" alt="">
									</span>
									<span class="text">
									<span class="title">Get In Touch</span>
									<span class="descr">+88 015 00 00 00</span>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<div class="row pb-5">
					</div>
				</div>
			</div>
		</div>
		<!-- footer end -->
		<!-- copyright footer begin -->
		<div class="copyright-footer">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-xl-5 col-md-6 col-lg-6 d-lg-flex d-lg-flex d-block align-items-center">
						<p class="copyright-text">
							© copyright 2020. PRIVACY POLICY
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- copyright footer end -->
		<!-- jquery -->
		<!-- <script src="frontend/assets/js/jquery.js"></script> -->
		<script src="frontend/assets/js/jquery-3.4.1.min.js"></script>
		<!-- bootstrap -->
		<script src="frontend/assets/js/bootstrap.min.js"></script>
		<!-- owl carousel -->
		<script src="frontend/assets/js/owl.carousel.js"></script>
		<!-- magnific popup -->
		<script src="frontend/assets/js/jquery.magnific-popup.js"></script>
		<!-- filterizr js -->
		<script src="frontend/assets/js/jquery.filterizr.min.js"></script>
		<!-- wow js-->
		<script src="frontend/assets/js/wow.min.js"></script>
		<!-- clock js -->
		<script src="frontend/assets/js/clock.min.js"></script>
		<script src="frontend/assets/js/jquery.appear.min.js"></script>
		<script src="frontend/assets/js/odometer.min.js"></script>
		<script src="frontend/assets/js/oddometer-active.js"></script>
		<!-- main -->
		<script src="frontend/assets/js/main.js"></script>

		<script src="/socket.io/socket.io.js"></script>

		<script>
			function login( email, password ) {

				$.ajax({
					url: '/api/auth/signin',
					method: 'POST',
					dataType: 'JSON',
					data: {
						email: email,
						password: password
					},
					success: function( retdata ) {
						//function name would be the name of your same function as in this example is main_unit_master
						console.log( 'retdata', retdata );
					},
					error: function(e){
						console.log(e);
					}
				});
			}
		</script>
	</body>
</html>